# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Entorno virtual
venv/
.venv/
env/

# Datos locales
data/

# Variables de entorno
.env
*.env

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
